
<%- include('partials/header') %>
<style media="screen">
  .Aditya{
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
  }
</style>
  <div class="Aditya" style="height:500px;">
      <center><h1><b>About Voter Portal</b></h1>
      <h3>Our goal is to create and organize timely, needed government information and services related to electoral comission and make them accessible anytime, anywhere, via your channel of choice.</h3></center>
  </div>
<%- include('partials/footer') %>
