<%- include('partials/header') %>
<style media="screen">
@media (min-width: 1025px) and (max-width: 1440px){
  #footer{
    position: fixed;bottom: 0;width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 1024px){
  #hero{
    height:600px;
  }
}
</style>
<section id="hero" class="" style="position:relative;bottom:100px;">
  <!-- <div class="container"> -->
    <%data.forEach(function(data){%>
     <%if (id === data._id.toString().replace(/[^a-z0-9]/g, '')) {%>
    <div class="" style="position:relative;top:200px;">
      <center>
      <h1>Your form has been submitted successfully</h1>
      <h3>Currently in verification process.</h3>

      <h3 style="font-family:times-new-roman">Application id : <%= id %></h3>
      <h4>Save it for future use.</h4>

    </center>
    </div>
    <%}%>
    <%})%>
  <!-- </div> -->

</section>
<div class="">
  <p style="position:relative;text-align:center;top:0px;">*Refresh page if Application id not displayed.</p>
</div>

    <!-- <div class="">
      <p style="position:relative;text-align:center;top:400px;">*Refresh page if Application id not displayed.</p>
    </div> -->
<%- include('partials/footer') %>
