<%- include('partials/header') %>
<link rel="stylesheet" href="/css/status.css">

  <h1 class="application-heading">Application Status</h1>


  <div class="status">
    <form class="status-form" action="/status" method="post">
      <label for="">Application number</label><br>
      <input type="text" name="applicationNumber" value="<%=id%>" placeholder="Application number" class="application-num" maxlength="24" minlength="24"><br>
      <input type="submit" name="Check" value="Check" class="status-submit btn btn-lg btn-primary" style="position:relative;top:120px;">

    </form>

  </div>










  <%- include('partials/footer') %>
